<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Droidtoberfest</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Droidtoberfest</h1>
  <p>This website scans multiple FOSS app sources for projects joining Hacktoberfest. Hopefully this will make it the best place to find cool Open Source Android projects to contribute to.</p>
  <small>Help improve this website on <a href="https://github.com/TheLastProject/Droidtoberfest">Droidtoberfest</a></small>
  {% for source, apps in apps.items() %}
    <p>The following apps on {{ source }} joined Hacktoberfest:</p>
    <div>
    {% for app in apps | sort(attribute='name') %}
      <a href="{{ app.link }}">{{ app.name }}</a>
    {% endfor %}
    </div>
  {% endfor %}
</body>
</html>
