<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Droidtoberfest</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Droidtoberfest</h1>
  <p>This website scans <a href="https://f-droid.org/">F-Droid</a> for projects joining Hacktoberfest. Hopefully this will make it the best place to find cool Open Source Android projects to contribute to.</p>
  <small>Help improve this website on <a href="https://github.com/TheLastProject/Droidtoberfest">Droidtoberfest</a></small>
  <h2>Hacktoberfest apps</h2>
  <p>The following apps on F-Droid joined Hacktoberfest.</p>
  <div>
  {% for app in apps | selectattr("hacktoberfest") | sort(attribute='name') %}
    <a href="{{ app.repo }}">{{ app.name }}</a>
  {% endfor %}
  </div>
  <h2>Non-Hacktoberfest apps</h2>
  <p>The following apps on F-Droid have not joined Hacktoberfest. You can still contribute to them, but be aware contributions won't count for Hacktoberfest.</p>
  <div>
  {% for app in apps | rejectattr("hacktoberfest") | sort(attribute='name') %}
    <a href="{{ app.repo }}">{{ app.name }}</a>
  {% endfor %}
  </div>
</body>
</html>
